*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    
    }
    .header{
        min-height: 100vh;
        width: 100%;
        background-color: black; 
        background-image: url(https://giffiles.alphacoders.com/887/8871.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        color: rgb(68, 237, 249);
        padding: 0 8%;
        
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
            }
    .logo{
        width: 160px;
    }
    nav ul {
        background-color: rgba(70, 240, 250, 0.7);
    }   

    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 30px;
    }
    nav ul li a{
        color: black;
        text-decoration: none;
        padding: 14px 17px;
        font-size: large;
        font-variant:small-caps;
    }
    nav ul li a:hover{
        background-color: black;
        color: rgba(70, 240, 250, 0.7);
    }
   
    .header h1 {
        font-size: 75px;
        margin-top: 7%;
    }

    .header h3 {
        margin-top: 100px;
    }
    .header button {
        border-color: rgba(70, 240, 250, 0.7);
        padding: 15px 40px;
        background: #393939;
        color:rgba(70, 240, 250);
        margin-top: 50px;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 2px;
        cursor: pointer;
    }
    .header button:hover{
        background-color: rgba(70, 240, 250, 0.7);
        color: black;
    }
    
    .register {
        position: absolute;
        width: 10%;
        right: 5%;
        min-width: 200px;
        bottom: 50px;
    }
    .register p {
        font-size: 20px;
        font-weight: 200;
        font-style: italic;
    }
    .header h4 {
        margin-top: 85px;
    }  
    
      